In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Assignment 1 Que. No 11

In [3]:
from scipy import stats

In [4]:
stats.t.ppf(0.970,df=1999)

1.8818614764780113

In [5]:
stats.t.ppf(0.980,df=1999)

2.055089962825778

In [6]:
stats.t.ppf(0.990,df=1999)

2.328214776106972

In [9]:
Cars=pd.read_csv('Cars.csv')
Cars

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [10]:
Cars.describe()

               HP        MPG         VOL          SP         WT
count   81.000000  81.000000   81.000000   81.000000  81.000000
mean   117.469136  34.422076   98.765432  121.540272  32.412577
std     57.113502   9.131445   22.301497   14.181432   7.492813
min     49.000000  12.101263   50.000000   99.564907  15.712859
25%     84.000000  27.856252   89.000000  113.829145  29.591768
50%    100.000000  35.152727  101.000000  118.208698  32.734518
75%    140.000000  39.531633  113.000000  126.404312  37.392524
max    322.000000  53.700681  160.000000  169.598513  52.997752

In [16]:
Cars['MPG'].describe()

count    81.000000
mean     34.422076
std       9.131445
min      12.101263
25%      27.856252
50%      35.152727
75%      39.531633
max      53.700681
Name: MPG, dtype: float64

In [17]:
stats.norm.cdf(38,loc=34.42,scale=9.13)

0.6525129749869594

In [18]:
1-stats.norm.cdf(38,loc=34.42,scale=9.13)

0.34748702501304063

In [19]:
stats.norm.cdf(40,loc=34.42,scale=9.13)

0.7294571279557076

In [20]:
stats.norm.cdf(50,loc=34.42,scale=9.13)

0.9560389719783978

In [21]:
stats.norm.cdf(20,loc=34.42,scale=9.13)

0.05712118952347562

In [ ]:
#Assignment 1 Que. No. 22

In [22]:
stats.norm.ppf(0.950)

1.6448536269514722

In [23]:
stats.norm.ppf(0.970)

1.8807936081512509

In [24]:
stats.norm.ppf(0.80)

0.8416212335729143

In [ ]:
# Assignment 1 Que No. 23

In [25]:
stats.t.ppf(0.975,df=24)

2.0638985616280205

In [26]:
stats.t.ppf(0.98,df=24)

2.1715446760080677

In [27]:
stats.t.ppf(0.995,df=24)

2.796939504772804

In [11]:
# Assignment 1 Que No 24

In [3]:
(260-270)/(90/np.sqrt(18))

-0.4714045207910317

In [4]:
stats.t.cdf(-0.4714,df=17)

0.32167411684460556